body {
  background-color: rgb(230, 170, 248);
  margin: 0;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
.title {
  font-family: sans-serif;
  font-size: 250%;
  text-align: center;
  margin: 3% 0 auto;
  margin-bottom: 2%;
}
.organization-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organizationLink {
  text-decoration: none;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.organizationProjectsLinks {
  text-decoration: none;
}

.organization {
  background-color: rgb(255, 255, 255);
  min-width: 50%;
  font-size: x-large;
  padding: 20px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 2%;
}

.organizationName {
  font-weight: bold;
}

.organization-page,
.project-page {
  display: flex;
  justify-content: center;
  padding: 40px 16px;
}

.organizationPage-card {
  background-color: white;
  width: 100%;
  max-width: 80%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.organizationPage-name {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
}

.organizationPage-projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 5%;
}

.organizationProject-name {
  font-weight: bold;
  font-size: 20px;
  padding: 2%;
}

.organizationProject-link {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(142, 22, 142);
  text-align: center;
  color: black;
}

.projectPage-card {
  background-color: #ffffff;
  width: 1000px;
  height: 700px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.projectPage-name {
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
  font-size: 60px;
  padding: 2%;
}
.projectPage-description {
  text-align: center;
  font-size: 40px;
  padding: 2%;
}
.buttons-donation {
  margin-top: 5%;
  margin-left: 5%;
}
.button {
  padding: 10px;
  margin-left: 2%;
  width: 200px;
}

.first-button {
  background-color: lightblue;
  border: 2px solid rgb(124, 191, 213);
}
.second-button {
  background-color: orange;
  border: 2px solid rgb(211, 137, 0);
}

.third-button {
  background-color: yellow;
  border: 2px solid rgb(226, 226, 0);
}

.fourth-button {
  background-color: green;
  border: 2px solid rgb(0, 101, 0);
}

.organizationPage-description {
  text-align: center;
  font-size: 20px;
  margin-bottom: 2%;
}
.organizationPage-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgba(95, 95, 95, 0.055);
}
.organization-image {
  max-width: 1000px;
  max-height: 250px;
}

.divisor-line {
  border-top: 2px solid rgb(142, 22, 142);
  margin-top: -2%;
}
